           .portfolio-container {
                position: relative;
                width: 800px;
                height: 600px;
            }

            ul.nav-bar {
                position: absolute;
                display: flex;
                list-style: none;
                width: 800px;
                height: 40px;
                color: #aaaaa8;
                background-color: #f1f1f1;
                margin-top: 10px;
            }

            li.nav-item-first {
                font-family: "Montserrat";
                color: black;
                font-size: 11px;
                margin-left: 120px;
                margin-top: 5px;
            }

            li.nav-item {
                font-family: "Montserrat";
                font-size: 11px;
                margin-left: 30px;
                margin-top: 5px;
            }

            p.watermark-text {
                position: absolute;
                color: #f1f1f1;
                font-size: 10em;
                margin-top: 50px;
                margin-left: 90px;
                font-family: "Playfair Display";
            }

            p.intro-greeting {
                font-family: "Montserrat";
                font-size: 11px;
                position: absolute;
                margin-top: 120px;
                margin-left: 140px;
            }

            img.profile-avatar {
                position: absolute;
                width: 60px;
                height: 60px;
                filter: grayscale(100%);
                border-radius: 50px;
                margin-top: 150px;
                margin-left: 140px;
            }

            p.headline-text {
                position: absolute;
                font-size: 25px;
                margin-top: 150px;
                margin-left: 210px;
                font-family: "Playfair Display";
            }

            p.bio-text {
                font-family: "Montserrat";
                line-height: 17px;
                font-size: 11px;
                position: absolute;
                margin-top: 240px;
                margin-left: 140px;
            }

            img.decorative-line {
                position: absolute;
                width: 50px;
                height: 7px;
                margin-top: 330px;
                margin-left: 140px;
            }

            p.section-title {
                position: absolute;
                font-size: 25px;
                margin-top: 370px;
                margin-left: 140px;
                font-family: "Playfair Display";
            }

            p.exp-date-role-1 {
                position: absolute;
                font-family: "Montserrat";
                color: grey;
                font-size: 10px;
                font-weight: 400;
                line-height: 50px;
                margin-top: 460px;
                margin-left: 140px;
            }

            p.exp-location-1 {
                position: absolute;
                font-family: "Lato";
                font-weight: 700;
                font-style: normal;
                margin-top: 500px;
                margin-left: 140px;
            }

            .divider-long {
                position: absolute;
                width: 270px;
                height: 1px;
                background-color: #aaa;
                margin-top: 520px;
                margin-left: 140px;
            }

            p.exp-date-role-2 {
                position: absolute;
                font-family: "Montserrat";
                color: grey;
                font-size: 10px;
                font-weight: 400;
                line-height: 50px;
                margin-top: 550px;
                margin-left: 140px;
            }

            p.exp-company-2 {
                position: absolute;
                font-family: "Lato";
                font-weight: 700;
                font-style: normal;
                margin-top: 590px;
                margin-left: 140px;
            }

            .divider-short {
                position: absolute;
                width: 70px;
                height: 1px;
                background-color: #aaa;
                margin-top: 610px;
                margin-left: 140px;
            }