            *{
                margin: 0;
                padding:0;
            }
            .con{
                position: relative;
                width: 820px;
                height: 1450px;
                box-shadow:2px 2px 4px 4px #aaa ;
                background-color: white;
            }
            img.t {
                position: absolute;
                width:820px;
                filter: blur(3px);
                height: 200px;


            }
            .a{
                position: absolute;
                width: 650px;
                height: 250px;
                top: 110px;
                margin-left: 80px;

                background-color:  #1877F2;
            }
            .im{
                position: absolute;
                width: 250px;
                height: 250px;}
                h2.b{
                    font-family:"Roboto";
                }
            img.il{
                position: absolute;
                width: 250px;
                height: 250px;
                left:405px;
                clip-path: polygon(99% 0%, 0% 0%, 32% 99%, 99% 100%);

            }
            .d{    position: absolute;
                font-family:"Black Ops One";
                color:rgb(255, 255, 255);
               margin-top: 30px;
               margin-left: 20px;
            }
            .pl{    position: absolute;
          position: absolute;
          width: 35px;
          height: 40px;
          border-radius: 50px;
          font-family:"Metal Mania";
          font-size: 20px;
          background-color:black;
          margin-left: 400px;
          margin-top: 20px;
          color:white;
          text-align: center;
          align-content: center;
            }

          
ul{    position: absolute;
    list-style: none;
    margin-left: 20px;
    margin-top: 90px;
    color:white;
    font-size: 16px;
}
 .box{
    position: absolute;
    width: 25px;
    height: 25px;
    font-size: 20px;
    text-align: center;
    align-content: center;
    color: #1877F2;
    background-color: white;
    margin-top: 195px;
    margin-left: 20px;
    border-radius: 50px;

 }
 .box1{
    position: absolute;
    width: 25px;
    height: 25px;
    font-size: 20px;
    text-align: center;
    align-content: center;
    color: #1DA1F2;
    background-color: white;
    margin-top: 195px;
    margin-left: 60px;
    border-radius: 50px;

 }
 .box2{
    position: absolute;
    width: 25px;
    height: 25px;
    font-size: 20px;
    text-align: center;
    align-content: center;
    color:#FCAF45;
    background-color: white;
    margin-top: -22px;
    margin-left: 40px;
    border-radius: 46px;

 }
 .box3{
    position: absolute;
    width: 25px;
    height: 25px;
    font-size: 20px;
    text-align: center;
    align-content: center;
    color:#0000EE;
    background-color: white;
    margin-top: -22px;
    margin-left: 80px;
    border-radius: 50px;

 }
 .box4{
    position: absolute;
    width: 25px;
    height: 25px;
    font-size: 20px;
    text-align: center;
    align-content: center;
    background-color: white;
    color:#db4437; 
    margin-top: -22px;
    margin-left: 120px;
    border-radius: 50px;

 }
 .box5{
                position: absolute;
                width: 650px;
                height: 200px;
                top: 110px;
                text-align: center;

                font-family:"Work Sans";
    box-shadow:2px 2px 4px 4px #aaa ;
                margin-left: -60px;
                text-align: justify;
                font-size: 13px;
                margin-top: -10px;
                background-color: white ;

            }
            p.v{
                margin-top: 40px;
                width: 610px; 
                margin-left: 20px;

                color:black;
            }
            .box6{
    position: absolute;
    width: 100px;
    height: 25px;
    font-family:"Oswald";
    font-size: 12px;
    text-align: center;
    align-content: center;
    background-color:  #1877F2;
    color:white; 
    margin-top: 222px;
    margin-left: 140px;
    border-radius: 6px;

 }
 .box7{
    position: absolute;
    width: 100px;
    font-size: 12px;
    height: 25px;
    font-family:"Oswald";
    text-align: center;
    align-content: center;
    background-color:  #1877F2;
    color:white; 
    margin-top: 222px;
    margin-left: 250px;
    border-radius: 6px;

 }
 .book{
    position: absolute;
   
    font-size: 50px;
    text-align: center;
    align-content: center;
    color:  #00B0FF;
    background-color: rgb(255, 255, 255);
    margin-top: 340px;
    margin-left:170px;
    border-radius: 46px;

 }
 .ed{
    position: absolute;
    font-family:"Playfair Display SC";
    font-size: 25px;
    color:black;
  

    margin-top: 360px;
    margin-left:220px;



 }
 .fl{
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    align-content: center;
    color:  white;
    background-color: #00B0FF;
    margin-top: 420px;
    margin-left:240px;
    border-radius: 50px;

 }
 .box8{
    position: absolute;
    width: 280px;
    height: 170px;
   color:black;
   line-height: 25px;
    text-align: center;
    text-align: justify;
    font-family:"Roboto Condensed";
    box-shadow:2px 2px 4px 2px #aaa ;
    border-left: 	#11d452 solid 3px;
    background-color: white;
    margin-top: 410px;
    margin-left:-60px;
 }
 .pr{
    position: absolute;
    width:230px;
   color:black;
   text-align: justify;
    font-family:"Roboto Condensed";
    margin-top: 495px;
    margin-left:-40px;
 }
 .line{
    position: absolute;
    width: 20px;
    height: 3px;

    
    background-color: #00B0FF;
    margin-top: 430px;
    margin-left:220px;
  

 }
 .line1{
    position: absolute;
    width: 4px;
    height: 500px;

    
    background-color: #00B0FF;
    margin-top: 450px;
    margin-left:253px;
  

 }
 .hl{
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    align-content: center;
    color:  white;
    background-color: #00B0FF;
    margin-top: 540px;
    margin-left:240px;
    border-radius: 50px;

 }
 .box9{
    position: absolute;
    width: 280px;
    height: 170px;
   color:black;
   
   line-height: 25px;
    text-align: center;
    text-align: justify;
    font-family:"Roboto Condensed";
    box-shadow:2px 2px 4px 2px #aaa ;
  
    border-left: 	#11d452 solid 3px;
    background-color: white;
    margin-top: 610px;
    margin-left:-60px;


 }
  .pr1{
    position: absolute;
    width:230px;
   color:black;
   text-align: justify;
   
   
   
  
    font-family:"Roboto Condensed";
 
  

    
    margin-top: 695px;
    margin-left:-40px;


 }
 .cl{
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    align-content: center;
    color:  white;
    background-color: #00B0FF;
    margin-top: 630px;
    margin-left:240px;
    border-radius: 50px;

 }
 .line2{
    position: absolute;
    width: 20px;
    height: 3px;

    
    background-color: #00B0FF;
    margin-top: 640px;
    margin-left:225px;
  

 }
 .box10{
    position: absolute;
    width: 280px;
    height: 170px;
   color:black;
   
   line-height: 25px;
    text-align: center;
    text-align: justify;
    font-family:"Roboto Condensed";
    box-shadow:2px 2px 4px 2px #aaa ;
  
    border-left: 	#11d452 solid 3px;
    background-color: white;
    margin-top: 810px;
    margin-left:-60px;


 }
 
 .pr2{
    position: absolute;
    width:230px;
   color:black;
   text-align: justify;
   
   
   
  
    font-family:"Roboto Condensed";
 
  

    
    margin-top: 895px;
    margin-left:-40px;


 }
 .ul{
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    align-content: center;
    color:  white;
    background-color: #00B0FF;
    margin-top: 830px;
    margin-left:240px;
    border-radius: 50px;

 }
 .line3{
    position: absolute;
    width: 20px;
    height: 3px;

    
    background-color: #00B0FF;
    margin-top: 840px;
    margin-left:225px;
  

 }

 .box11{
    position: absolute;
    width: 280px;
    height: 170px;
   color:black;
   line-height: 25px;
    text-align: center;
    text-align: justify;
    font-family:"Roboto Condensed";
    box-shadow:2px 2px 4px 2px #aaa ;
    border-left: 	#11d452 solid 3px;
    background-color: white;
    margin-top: 520px;
    margin-left:300px;
 }
 .pr3{
    position: absolute;
    width:230px;
   color:black;
   text-align: justify;
    font-family:"Roboto Condensed";
    margin-top: 610px;
    margin-left:320px;
 }
 .line4{
    position: absolute;
    width: 30px;
    height: 3px;

    
    background-color: #00B0FF;
    margin-top: 555px;
    margin-left:270px;
  

 }

 .box12{
    position: absolute;
    width: 280px;
    height: 170px;
   color:black;
   line-height: 25px;
    text-align: center;
    text-align: justify;
    font-family:"Roboto Condensed";
    box-shadow:2px 2px 4px 2px #aaa ;
    border-left: 	#11d452 solid 3px;
    background-color: white;
    margin-top: 720px;
    margin-left:300px;
 }
 .pr5{
    position: absolute;
    width:230px;
   color:black;
   text-align: justify;
    font-family:"Roboto Condensed";
    margin-top: 810px;
    margin-left:320px;
 }
 .stl{
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    align-content: center;
    color:  white;
    background-color: #00B0FF;
    margin-top: 730px;
    margin-left:240px;
    border-radius: 50px;

 }
 .line5{
    position: absolute;
    width: 30px;
    height: 3px;

    
    background-color: #00B0FF;
    margin-top: 745px;
    margin-left:270px;
  

 }

 .box13{
    position: absolute;
    width: 280px;
    height: 170px;
   color:black;
   line-height: 25px;
    text-align: center;
    text-align: justify;
    font-family:"Roboto Condensed";
    box-shadow:2px 2px 4px 2px #aaa ;
    border-left: 	#11d452 solid 3px;
    background-color: white;
    margin-top: 920px;
    margin-left:300px;
 }
 .pr6{
    position: absolute;
    width:230px;
   color:black;
   text-align: justify;
    font-family:"Roboto Condensed";
    margin-top: 1010px;
    margin-left:320px;
 }
 .sc{
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    align-content: center;
    color:  white;
    background-color: #00B0FF;
    margin-top: 930px;
    margin-left:240px;
    border-radius: 50px;

 }
 .line6{
    position: absolute;
    width: 30px;
    height: 3px;

    
    background-color: #00B0FF;
    margin-top: 945px;
    margin-left:270px;
  

 }
