            .resume-container {
                position: relative;
                width: 700px;
                height: 1000px;
                background-color: white;
            }

            img.header-bg-image {
                position: absolute;
                width: 700px;
                height: 190px;
                filter: blur(3px);
                clip-path: polygon(50% 0%, 98% 0, 100% 94%, 75% 100%, 20% 81%, 0 99%, 0 0);
            }

            img.profile-photo {
                position: absolute;
                width: 150px;
                height: 150px;
                border-radius: 100px;
                margin-top: 50px;
                margin-left: 50px;
            }

            p.header-name {
                position: absolute;
                font-family: "Great Vibes";
                font-size: 50px;
                margin-top: 40px;
                margin-left: 250px;
            }

            p.header-role {
                position: absolute;
                font-family: "Inter";
                font-size: 30px;
                margin-top: 95px;
                margin-left: 310px;
            }

            .icon-box-profile {
                position: absolute;
                width: 20px;
                height: 20px;
                margin-top: 220px;
                margin-left: 50px;
            }

            .section-title-profile {
                position: absolute;
                margin-top: 220px;
                margin-left: 80px;
            }

            hr.divider-profile {
                position: absolute;
                width: 200px;
                height: 1px;
                margin-top: 245px;
                margin-left: 50px;
            }

            h6.profile-description {
                position: absolute;
                width: 180px;
                font-size: 12px;
                font-family: "Lato";
                margin-top: 250px;
                margin-left: 50px;
            }

            .icon-img-skills {
                position: absolute;
                width: 17px;
                height: 17px;
                margin-top: 354px;
                margin-left: 50px;
            }

            h4.section-title-skills {
                position: absolute;
                margin-top: 355px;
                margin-left: 80px;
            }

            hr.divider-skills {
                position: absolute;
                width: 200px;
                height: 1px;
                margin-top: 375px;
                margin-left: 50px;
            }

            h5.skill-label-1 {
                position: absolute;
                font-family: "Inter";
                word-spacing: 60px;
                margin-top: 380px;
                margin-left: 50px;
            }

            .skill-bar-bg-1 {
                position: absolute;
                width: 190px;
                height: 10px;
                border: 1px solid black;
                border-radius: 50px;
                margin-top: 400px;
                margin-left: 45px;
            }

            .skill-bar-fill-1 {
                position: absolute;
                width: 170px;
                height: 11px;
                background-color: orangered;
                border-radius: 50px;
                margin-top: 400px;
                margin-left: 45px;
            }

            h5.skill-label-2 {
                position: absolute;
                font-family: "Inter";
                word-spacing: 60px;
                margin-top: 420px;
                margin-left: 50px;
            }

            .skill-bar-bg-2 {
                position: absolute;
                width: 190px;
                height: 10px;
                border: 1px solid black;
                border-radius: 50px;
                margin-top: 440px;
                margin-left: 45px;
            }

            .skill-bar-fill-2 {
                position: absolute;
                width: 150px;
                height: 11px;
                background-color: orangered;
                border-radius: 50px;
                margin-top: 440px;
                margin-left: 45px;
            }

            h5.skill-label-3 {
                position: absolute;
                font-family: "Inter";
                word-spacing: 60px;
                margin-top: 460px;
                margin-left: 50px;
            }

            .skill-bar-bg-3 {
                position: absolute;
                width: 190px;
                height: 10px;
                border: 1px solid black;
                border-radius: 50px;
                margin-top: 480px;
                margin-left: 45px;
            }

            .skill-bar-fill-3 {
                position: absolute;
                width: 160px;
                height: 11px;
                background-color: orangered;
                border-radius: 50px;
                margin-top: 480px;
                margin-left: 45px;
            }

            h5.skill-label-4 {
                position: absolute;
                font-family: "Inter";
                word-spacing: 35px;
                margin-top: 500px;
                margin-left: 50px;
            }

            .skill-bar-bg-4 {
                position: absolute;
                width: 190px;
                height: 10px;
                border: 1px solid black;
                border-radius: 50px;
                margin-top: 520px;
                margin-left: 45px;
            }

            .skill-bar-fill-4 {
                position: absolute;
                width: 140px;
                height: 11px;
                background-color: orangered;
                border-radius: 50px;
                margin-top: 520px;
                margin-left: 45px;
            }

            h5.skill-label-5 {
                position: absolute;
                font-family: "Inter";
                word-spacing: 70px;
                margin-top: 540px;
                margin-left: 50px;
            }

            .skill-bar-bg-5 {
                position: absolute;
                width: 190px;
                height: 10px;
                border: 1px solid black;
                border-radius: 50px;
                margin-top: 560px;
                margin-left: 45px;
            }

            .skill-bar-fill-5 {
                position: absolute;
                width: 180px;
                height: 11px;
                background-color: orangered;
                border-radius: 50px;
                margin-top: 560px;
                margin-left: 45px;
            }

            h5.skill-label-6 {
                position: absolute;
                font-family: "Inter";
                word-spacing: 80px;
                margin-top: 580px;
                margin-left: 50px;
            }

            .skill-bar-bg-6 {
                position: absolute;
                width: 190px;
                height: 10px;
                border: 1px solid black;
                border-radius: 50px;
                margin-top: 600px;
                margin-left: 45px;
            }

            .skill-bar-fill-6 {
                position: absolute;
                width: 187px;
                height: 11px;
                background-color: orangered;
                border-radius: 50px;
                margin-top: 600px;
                margin-left: 45px;
            }

            .icon-img-lang {
                position: absolute;
                width: 19px;
                height: 19px;
                margin-top: 650px;
                margin-left: 50px;
            }

            h4.section-title-lang {
                position: absolute;
                margin-top: 650px;
                margin-left: 80px;
            }

            hr.divider-lang {
                position: absolute;
                width: 200px;
                height: 1px;
                margin-top: 670px;
                margin-left: 50px;
            }

            ul.lang-list {
                position: absolute;
                font-family: "Lato";
                font-size: 18px;
                margin-top: 680px;
                margin-left: 50px;
            }

            li.lang-item {
                margin-top: -30px;
            }

            .icon-box-awards {
                position: absolute;
                width: 19px;
                height: 19px;
                margin-top: 760px;
                margin-left: 50px;
            }

            h4.section-title-awards {
                position: absolute;
                margin-top: 760px;
                margin-left: 80px;
            }

            hr.divider-awards {
                position: absolute;
                width: 200px;
                height: 1px;
                margin-top: 780px;
                margin-left: 50px;
            }

            h6.award-text-1 {
                position: absolute;
                width: 200px;
                font-size: 12px;
                font-family: "Lato";
                margin-top: 800px;
                margin-left: 50px;
            }

            h6.award-text-2 {
                position: absolute;
                width: 200px;
                font-size: 12px;
                font-family: "Lato";
                margin-top: 850px;
                margin-left: 50px;
            }

            .icon-box-edu {
                position: absolute;
                width: 20px;
                height: 20px;
                margin-top: 220px;
                margin-left: 290px;
            }

            .section-title-edu {
                position: absolute;
                margin-top: 220px;
                margin-left: 320px;
            }

            hr.divider-edu {
                position: absolute;
                width: 330px;
                height: 1px;
                margin-top: 245px;
                margin-left: 290px;
            }

            h6.edu-degree-1 {
                position: absolute;
                font-size: 12px;
                font-family: "Lato";
                margin-top: 260px;
                margin-left: 290px;
            }

            h6.edu-degree-2 {
                position: absolute;
                font-size: 12px;
                font-family: "Lato";
                margin-top: 320px;
                margin-left: 290px;
            }

            h6.edu-degree-3 {
                position: absolute;
                font-size: 12px;
                font-family: "Lato";
                margin-top: 380px;
                margin-left: 290px;
            }

            ul.edu-list {
                position: absolute;
                font-size: 17px;
                font-family: "Lato";
                margin-top: 230px;
                margin-left: 370px;
            }

            li.edu-item {
                margin-top: -10px;
            }

            .timeline-line-edu {
                position: absolute;
                width: 1px;
                height: 160px;
                background-color: black;
                margin-top: 260px;
                margin-left: 397px;
            }

            .icon-box-work {
                position: absolute;
                width: 20px;
                height: 20px;
                margin-top: 450px;
                margin-left: 290px;
            }

            .section-title-work {
                position: absolute;
                margin-top: 450px;
                margin-left: 320px;
            }

            hr.divider-work {
                position: absolute;
                width: 330px;
                height: 1px;
                margin-top: 470px;
                margin-left: 290px;
            }

            h6.work-role-1 {
                position: absolute;
                font-size: 12px;
                font-family: "Lato";
                margin-top: 480px;
                margin-left: 290px;
            }

            .work-date-badge-1 {
                position: absolute;
                background-color: #d79f6f;
                font-size: 12px;
                color: white;
                width: 90px;
                height: 20px;
                font-family: "Lato";
                align-content: center;
                margin-top: 510px;
                margin-left: 290px;
                clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
            }

            ul.work-list {
                position: absolute;
                width: 190px;
                font-size: 17px;
                font-family: "Lato";
                margin-top: 455px;
                margin-left: 370px;
            }

            li.work-item {
                margin-top: 20px;
            }

            .timeline-line-work {
                position: absolute;
                width: 1px;
                height: 230px;
                background-color: black;
                margin-top: 490px;
                margin-left: 397px;
            }

            h6.work-role-2 {
                position: absolute;
                font-size: 12px;
                font-family: "Lato";
                margin-top: 570px;
                margin-left: 290px;
            }

            .work-date-badge-2 {
                position: absolute;
                background-color: #d79f6f;
                font-size: 12px;
                color: white;
                width: 90px;
                height: 20px;
                font-family: "Lato";
                align-content: center;
                margin-top: 600px;
                margin-left: 290px;
                clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
            }

            h6.work-role-3 {
                position: absolute;
                font-size: 12px;
                font-family: "Lato";
                margin-top: 660px;
                margin-left: 290px;
            }

            .work-date-badge-3 {
                position: absolute;
                background-color: #d79f6f;
                font-size: 12px;
                color: white;
                width: 90px;
                height: 20px;
                font-family: "Lato";
                align-content: center;
                margin-top: 690px;
                margin-left: 290px;
                clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
            }

            .icon-img-hobby {
                position: absolute;
                width: 20px;
                height: 20px;
                margin-top: 750px;
                margin-left: 290px;
            }

            h4.section-title-hobby {
                position: absolute;
                margin-top: 753px;
                margin-left: 320px;
            }

            hr.divider-hobby {
                position: absolute;
                width: 330px;
                height: 1px;
                margin-top: 775px;
                margin-left: 290px;
            }

            ul.hobby-icon-list {
                position: absolute;
                display: flex;
                list-style: none;
                margin-top: 790px;
                margin-left: 210px;
            }

            li.hobby-icon-bg {
                width: 50px;
                height: 50px;
                font-size: 20px;
                background-color: #e8e5e5;
                border-radius: 50px;
                margin-left: 30px;
            }

            img.hobby-icon-img {
                position: absolute;
                width: 30px;
                height: 30px;
                margin: 10px;
            }

            ul.hobby-text-list {
                position: absolute;
                display: flex;
                list-style: none;
                margin-top: 850px;
                margin-left: 210px;
            }

            li.hobby-text-item {
                font-size: 12px;
                font-family: "Poppins";
                margin-left: 30px;
            }

            li.hobby-text-item-spaced {
                font-size: 12px;
                font-family: "Poppins";
                margin-left: 50px;
            }

            .footer-decoration {
                position: absolute;
                width: 700px;
                height: 100px;
                margin-top: 900px;
                background-color: #d79f6f;
                clip-path: polygon(21% 26%, 63% 9%, 84% 10%, 100% 23%, 100% 100%, 0 100%, 0 10%);
            }